header{
display: flex;
justify-content: space-evenly;
/* position: relative; */
}
h1{
    color:gold;
    background-color: aliceblue;
    padding-right:  20px;
    /* position: absolute;    */
   }
nav{
    /* position: absolute; */
    padding-left: 20px;
}
img {
    /* width:100%; */
}
.bicycle-imgs{
    display: flex;
}
h2{
text-decoration: underline;
}
#bicycle{
text-decoration: underline;
display:inline-block;
}
html{
    background-color:#fdfdfd;
}
