header {
    width: 960px;
    text-align: center;
    margin:  0 auto;
    /* background-color: red; */
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.blackbackgroud {
    background-color: black;
    color: white;
}

.center {
    text-align: center;
}


.profile_rayout {
    width: 150px;
}

header nav {
    font-size: 15px;
    align-items: flex-end;
}